
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]
Options -Indexes
Options -MultiViews


<IfModule mod_php7.c>
    php_value session.cookie_httponly 1
    php_value session.cookie_samesite "Lax"
</IfModule>
<IfModule mod_php.c>

    php_value session.cookie_httponly 1
    php_value session.cookie_samesite "Lax"
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
 
</IfModule>


<FilesMatch "\.(sql|bak|old|tar|gz|zip|7z|git|env)$">
    Require all denied
</FilesMatch>


<FilesMatch "^(func|func1|func2|func3|newfunc|csrf_token)\.php$">
    Require all denied
</FilesMatch>

